extends ../layout

block content
  .page-header
    h3 My Order

  form.form-horizontal(action='/account/order', method='post')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='pickup') Chipotle Address:
      .col-sm-7  
        input.form-control(type='pickup',name='pickup',id='pickup',value='#{user.order.pickup}')
    .form-group
      label.col-sm-3.control-label(for='delivery') Delivery Address:
      .col-sm-7  
        input.form-control(type='delivery',name='delivery',id='delivery',value='#{user.order.delivery}')
    .form-group
      label.col-sm-3.control-label(for='order_type') Order Type: (i.e. burrito, bowl, salad)
      .col-sm-7 
        input.form-control(type='order_type',name='order_type',id='order_type',value='#{user.order.order_type}')
    .form-group
      label.col-sm-3.control-label(for='rice') Rice: (white, brown, or none)
      .col-sm-7 
        input.form-control(type='rice',name='rice',id='rice',value='#{user.order.rice}')
    .form-group
      label.col-sm-3.control-label(for='beans') Beans: (black, pinto, or none)
      .col-sm-7 
        input.form-control(type='beans',name='beans',id='beans',value='#{user.order.beans}')
    .form-group
      label.col-sm-3.control-label(for='meat') Meat:
      .col-sm-7 
        input.form-control(type='meat',name='meat',id='meat',value='#{user.order.meat}')
    .form-group
      label.col-sm-3.control-label(for='toppings') Toppings: (i.e. lettuce, mild salsa)
      .col-sm-7 
        input.form-control(type='toppings',name='toppings',id='toppings',value='#{user.order.toppings}')
    .form-group
      label.col-sm-3.control-label(for='additional') Additional Instructions:
      .col-sm-7 
        input.form-control(type='additional',name='additional',id='additional',value='#{user.order.additional}')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          | Update Order

  .page-header
    h3 Profile Information

  form.form-horizontal(action='/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', value='#{user.email}')
    .form-group
      label.col-sm-3.control-label(for='name') Name
      .col-sm-7
        input.form-control(type='text', name='name', id='name', value='#{user.profile.name}')
    .form-group
      label.col-sm-3.control-label(for='gender') Gender
      .col-sm-4
        label.radio.col-sm-4
          input(type='radio', checked=user.profile.gender=='male', name='gender', value='male', data-toggle='radio')
          span Male
        label.radio.col-sm-4
          input(type='radio', checked=user.profile.gender=='female', name='gender', value='female', data-toggle='radio')
          span Female
    .form-group
      label.col-sm-3.control-label(for='location') Location
      .col-sm-7
        input.form-control(type='text', name='location', id='location', value='#{user.profile.location}')
    .form-group
      label.col-sm-3.control-label(for='website') Website
      .col-sm-7
        input.form-control(type='text', name='website', id='website', value='#{user.profile.website}')
    .form-group
      label.col-sm-3.control-label(for='gravatar') Gravatar
      .col-sm-4
        img(src="#{user.gravatar()}", class='profile', width='100', height='100')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-pencilr
          | Update Profile

  .page-header
    h3 Change Password

  form.form-horizontal(action='/account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='password') New Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password')
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn-primary(type='submit')
          i.fa.fa-lock
          | Change Password

  .page-header
    h3 Delete Account

  form.form-horizontal(action='/account/delete', method='POST')
    .form-group
      p.col-sm-offset-3.col-sm-4 You can delete your account, but keep in mind this action is irreversible.
      input(type='hidden', name='_csrf', value=_csrf)
      .col-sm-offset-3.col-sm-4
        button.btn.btn-danger(type='submit')
          i.fa.fa-trash
          | Delete my account

  .page-header
    h3 Linked Accounts
  .form-horizontal
    .form-group
      .col-sm-offset-3.col-sm-4
        if user.google
          p: a.text-danger(href='/account/unlink/google') Unlink your Google account
        else
          p: a(href='/auth/google') Link your Google account
      .col-sm-offset-3.col-sm-4
        if user.facebook
          p: a.text-danger(href='/account/unlink/facebook') Unlink your Facebook account
        else
          p: a(href='/auth/facebook') Link your Facebook account
      .col-sm-offset-3.col-sm-4
        if user.twitter
          p: a.text-danger(href='/account/unlink/twitter') Unlink your Twitter account
        else
          p: a(href='/auth/twitter') Link your Twitter account